@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-size: 5rem;
    color: #fff;
}

.text-subtitle {
    font-size: 2em;
    color: #fff;
}

.text-title-xs {
    font-size: 2rem;
    color: #fff;
}

.text-subtitle-xs {
    font-size: 10px;
    color: #fff;
}

.jumb {
    /* background-image: linear-gradient(to bottom right, #192a56, #40739e); */
    background: url('../img/fundoJumb.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.jumb2 {
    background-image: linear-gradient(to bottom right, #192a56, #40739e);
}

.cor-fundo-padrao {
    background-color: #2c3e50;
}

.posicao {
    z-index: 99;
    position: absolute;
}

.posicao2 {
    z-index: 99;
}